body{
    background-color:cadetblue;
   
}
@font-face {
    font-family: "font";
    src: url(fonts/Caveat-VariableFont_wght.ttf);
}
/*Menu*/
#contenedor{
    background-color: brown;
   position: absolute;
   width: 100%;
   height: 200px;
   top: 0px;
   left: 0px;
   margin: 0%;
}
#logo{
    width: 150px;
    position: absolute;
    top: 20px;
    left: 400px;
    border-radius: 100px;
}
.nav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   position: absolute;
   left: 700px;
   font-size: 18px;
   top: 30px;
}
ul, ol{
    list-style: none;
}
.nav > li{
    float: left;   
}
.nav li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 30px 20px;
    display: block;
}
.nav li a:hover{
    background-color: rgb(0, 81, 128);
    transition: all 0.3s;
}
.nav li:hover > ul{
    display: block;
}
/* Imagen*/
#contenedor2{
    width: 100%;
    height: 800px;
    position: absolute;
    background-color: rgb(31, 27, 27);
   top: 200px;
   left: 0px;
}
#imagen{
   width: 100%;
   height: 800px;
   position: absolute;
   opacity: 0.4;
}
#titulo{
    position: absolute;
    top: 280px;
    left: 300px;
    font-family: "font";
    font-size: 65px;
    color: white;
}
/*Sub titulo*/
#subtitulo{
    position: absolute;
    top: 1100px;
    left: 150px;
    font-size: 27px;
    color: rgb(7, 75, 19);
    font-family: Arial, Helvetica, sans-serif;
}
 /*Imagen de fondo*/
#imagen2{
    width: 100%;
    height: 1000px;
    position: absolute;
   top: 1000px;
   left: 0px;
}
#imagen2 img{
    width: 100%;
   height: 1000px;
   object-fit:cover;
}
/*Formulario*/
.conteiner{
    width: 600px;
    height: 100px;
    position: absolute;
    top: 1300px;
    left: 350px;
    flex-wrap: wrap;
   border-radius: 20px;
    background: white;
    display: flex; 
}
.mes{
    width: 100px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
    border: none; 
    border-radius: 2px;
    cursor: pointer;
}
.mes:focus{
    background-color: #1681c9;
    color: white;
}
.mes:hover{
    background: #0c5585;
}
.conteiner2{
    width: 500px;
    height: 100px;
    position: absolute;
    top: 1300px;
    left: 1100px;
    flex-wrap: wrap;
   border-radius: 20px;
    background: white;
    display: flex; 
}
.deseo{
    width: 100px;
    border-radius: 2px;
    font-size: 20px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    border: none; 
    cursor: pointer;
}
.deseo:focus{
    background-color: #1681c9;
    color: white;
}
.deseo:hover{
    background: #0c5585;
} 
#subtitulo2{
    position: absolute;
    top: 1250px;    
    left: 360px;
    font-size: 23px;
    font-family: cursive;
    color: rgb(7, 75, 19);
}
#subtitulo3{
    position: absolute;
    top: 1250px;    
    left: 1100px;
    font-size: 23px;
    font-family: cursive;
    color: rgb(7, 75, 19);
}
#conteiner4{
    position: absolute;
    top: 1500px;
    left: 350px;
}
#conteiner4 input{
    width: 400px;
    height: 50px;
    font-size: 18px;
    font-family: "Helvetica";
    border-radius: 2px;
    border: 2px solid #0c5585;
     
}
#conteiner5{
    position: absolute;
    top: 1500px;
    left: 1100px;
}
#conteiner5 input{
    width: 240px;
    height: 50px;
    font-size: 18px;
    font-family: "Helvetica";
    border-radius: 2px;
    border: 2px solid #0c5585;
}
#conteiner5 select{
    width: 245px;
    height: 52px;
    font-family: "Helvetica";
    font-size: 18px;
    border-radius: 2px;
    border: 2px solid #0c5585;
}
#subtitulo4{
    position: absolute;
    top: 1450px;    
    left: 360px;
    font-size: 23px;
    font-family: cursive;
    color: white;
}
#subtitulo5{
    position: absolute;
    top: 1450px;    
    left: 1100px;
    font-size: 23px;
    font-family: cursive;
    color:white;
}
#subtitulo6{
    position: absolute;
    top: 1600px;    
    left: 360px;
    font-size: 23px;
    font-family: cursive;
    color: white;
}
#subtitulo7{
    position: absolute;
    top: 1600px;    
    left: 1100px;
    font-size: 23px;
    font-family: cursive;
    color: white;
}
#conteiner6{
    position: absolute;
    top: 1650px;
    left: 350px;
}
#conteiner6 input{
    width: 400px;
    height: 50px;
    font-size: 18px;
    font-family: "Helvetica";
    border-radius: 2px;
    border: 2px solid #0c5585;
}
#conteiner7{
    position: absolute;
    top: 1650px;
    left: 1100px;
}
#conteiner7 input{
    width: 400px;
    height: 50px;
    font-size: 18px;
    font-family: "Helvetica";
    border-radius: 2px;
    border: 2px solid #0c5585;
}
#conteiner8{
    position: absolute;
    top: 1800px;
    left: 1100px;
}
#conteiner8 button{
    width:200px;
    height: 50px;
    font-size: 20px;
    font-family: "Helvetica";
    background: rgb(16, 172, 133);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#conteiner8 a{
    text-decoration: none;
}
#conteiner8 a button{
    color: white;
}
#conteiner8 button:hover{
    background: rgb(5, 100, 76);
}
/*footer*/
.abajo{
    width: 100%;
    height: 200px;
    left: 0;
    position: absolute;
    top: 2500px;
    background-color: rgb(89, 89, 226);
}
#derechos{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: absolute;
   left: 100px;
}


